.login-background {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.login-container {
  width: 40%;
}
@media only screen and (max-width: 720px) {
  .login-container {
    width: 100%;
    padding: 0px 20px;
  }
}

@media only screen and (min-width: 721px) and (max-width: 1050px) {
  .login-container {
    width: 70%;
  }
}
